/*CELSCHROME


Version 0.16 #2020 Edition
*/

/*TITLEBAR*/
/* -min max close */
.titlebar-button {
	padding-left: 2px !important;
	padding-right: 2px !important;
	padding-top: 6px !important; 
}

menupopup {
	-moz-appearance: none !important;
	background-color: rgba(0,0,0,.7) !important;
	border: 1px white solid !important;
	min-width: 255px !important;
}
panel-list {
	-moz-appearance: none !important;
	padding: 0px 0px 0px 0px !important;
	background-color: black !important;
	border: 1px gray solid !important;
	border-radius: 0px !important;
	min-width: 256px !important;
}
menuseparator, panel-item-separator {
	-moz-appearance: none !important;
	border: none !important;
	padding: .5px 0px .5px 0px !important;
	margin: 2px 4px 2px 4px !important;
	height: 0px !important;
	background-color: white !important;
}
menuitem {
	color: white !important;
	padding: 0px 0px 0px 0px !important;
	border: none !important;
	font-size: 11px !important;
}
menu {
	color: white !important;
	padding: 0px 0px 0px 0px !important;
	border: none !important;
	font-size: 14px !important;
}

/*NAVIGATION TOOLBAR*/

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -1px !important;
}
/* Remove Page Actions Menu */
#pageActionButton {display: none !important;}

/* Hide buttons */
:root:not([customizing]) #nav-bar toolbarbutton,
.urlbar-history-dropmarker {
	margin-left: -30px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: all 500ms ease 0.1740s !important;
}
/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox
:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
	margin-left: 0 !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	transition: all 100ms !important;
}


toolbarbutton.bookmark-item {
  padding-right: 0px !important;
	padding-left: 0px !important;
}

/*TABS TOOLBAR*/

/*Removes spacer and unnecessary clutter neo-nazi moonchild dick-sucking buttons*/
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {display: none !important;}
#alltabs-button {display: none;}
.scrollbutton-up, .scrollbutton-down {display: none;}

/*Show close button on hover*/
.tab-close-button {
  visibility: collapse !important;
	opacity:0 !important;
	margin-left: -20px !important;
	transition: all 1s ease 0s !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
	opacity: 1 !important;
	margin-left: 0px !important;
	transition: all 0.025s ease 0s !important;
}
.tab-close-button {
-moz-box-ordinal-group: 1;
  display: -moz-box !important;
  position: relative;
  margin-right: 0px !important;
  z-index: -1;
  visibility: hidden;
}
/* Reduce the margins within tabs */
.tab-content:not([pinned]) {padding: 4 2px !important;}
.tab-content {
  margin-top: 1px;
  padding: 0px 2px 0px !important;
}
/* Narrow the gap between the favicon and the title */
.tab-icon-image:not([pinned]) {margin-inline-end: 2px !important;}
tab[selected=true]:not([pinned]) {min-width: 172px !important;}

	/* Multi-Row Bookmarks Toolbar Firefox 66+ */
  #PersonalToolbar {
  min-height: unset !important;
  max-height: unset !important;
  /* text-align: center !important; */
  }
  #PersonalToolbar #PlacesToolbarItems {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  display: inline !important;
  }

/* ONE LINER MOD */

#navigator-toolbox[movingtab] > #nav-bar {
	margin-bottom: 0px !important;
}
/* Move tabs 35% to right */
#TabsToolbar {
	margin-left: 50vw !important;
	pointer-events auto !important;
	background: rgba(0,0,0,0.5) !important;
	transition: all 50ms !important;
}

/* Move navigation 65% to left and negative margin to move to top line */
#nav-bar {
	margin-right: 50vw !important;
	margin-top: -32px !important;
	background: rgba(0,0,0,0.5) !important;
  background-blend-mode: hard-light;
	pointer-events: auto !important;
	transition: all 150ms ease-out !important;
	z-index: 2;
}
@media only screen and (max-width: 780px){
	#nav-bar{
		margin-right: 0vw !important;
		margin-top: 0px !important;
	}
	#TabsToolbar{
		margin-left: 0px !important;
	}
	/* re-add Page Actions Menu */
#pageActionButton {
	display: initial !important;
	}

/* show buttons */
:root:not([customizing]) #nav-bar toolbarbutton,
.urlbar-history-dropmarker {
	margin-left: 0px !important;
	opacity: 100 !important;
	pointer-events: all !important;
	transition: all .25s ease 0.1740s !important;
}
/* idk about this */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox
:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
	margin-left: 0 !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	transition: all 75ms !important;
}
/*changing tabs size when the browser is smol*/
tab:not([pinned]) { min-width: 60px !important; }
	
tab[selected=true]:not([pinned]) {min-width: 172px !important;}
	
#identity-icon-labels { display: none;}
#tabbrowser-tabs tab[selected]{font-size: 14px;}
#tabbrowser-tabs tab{font-size: 10px;}
	
	/* Multi-Row Bookmarks Toolbar Firefox 66+ */
  #PersonalToolbar {
  min-height: unset !important;
  max-height: unset !important;
  /* text-align: center !important; */
  }
  #PersonalToolbar #PlacesToolbarItems {
  overflow-x: visible !important;
  overflow-y: visible !important;
  display: inline !important;
  }
}