/* 
  Firefox 57-70 users: https://www.jeffersonscher.com/gm/url-bar-tweaks.html
  You can copy/paste into a userChrome.css file, see https://www.userchrome.org/
*/
/* Remove " - Visit" or " - Search with" bar in the drop-down */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[type*="heuristic"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="keyword"] {
    display:none !important;
  }
  /* Hide line for searching sld.tld below "Visit" Line */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"] +
  richlistitem[actiontype="searchengine"] {
    display:none !important;
  }
  #PopupAutoCompleteRichResult .autocomplete-richlistbox,
  #urlbarView-results, #urlbar-results {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  /* EXCEPTION: Show "Search with" for keyworded search engines */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"][displayurl*=',"alias":'], 
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"][url*=',"alias":']{
    display:-moz-box !important;
  }

/* Display drop-marker only when URL bar is hovered (Firefox default) */
/* Set max-height for items visible without scrolling */
  #PopupAutoCompleteRichResult .autocomplete-richlistbox,
  #urlbarView-results, #urlbar-results {
    height: unset !important;
    max-height: calc(45.5px * 12) !important;
  }
/* Don't set drop-down width */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title-text, 
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-url-text,
  .urlbarView-row:not([type="search"]) .urlbarView-title, 
  .urlbarView-row .urlbarView-secondary,
  .urlbarView-row .urlbarView-url {
    min-width: 610px !important;
  }
/* Create sufficient height for two lines */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) {
    position: relative !important;
    height: 45.5px !important;
  }
  .urlbarView-row:not([type="search"]) {
    position: relative !important;
    height: 32px !important;
  }
/* Subtle border between results */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem,
  .urlbarView-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* light theme */
  }
  /* Position page title, set font-size */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title,
  .urlbarView-row:not([type="search"]) .urlbarView-title {
    position: absolute !important;
    left: 54px;
    top: 0px;
    font-size: 18px !important;
  }
  /* Position page url / action, set font-size */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-url,
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-action,
  .urlbarView-row:not([type="search"]) .urlbarView-secondary,
  .urlbarView-row:not([type="search"]) .urlbarView-url,
  .urlbarView:not([actionoverride]) .urlbarView-row:not([type="search"]) .urlbarView-action:not(:empty) {
    position: absolute !important;
    left: 54px;
    top: 22px;
    font-size: 12px !important;
  }

/* Position bookmark tags */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-tags,
  .urlbarView-row .urlbarView-tags {
    position: absolute !important;
    right: 0px;
    top: 3px;
  }
/* Hide separator between title and URL */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-separator,
  .urlbarView-row:not([type="search"]) .urlbarView-title-separator {
    display: none !important;
  }
/* Position special icon (bookmark, switch-to-tab) */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-type-icon,
  .urlbarView-row .urlbarView-type-icon {
    margin-left: 4px !important;
 }
/* Prevent excess indenting of icons in Photon */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem [anonid="type-icon-spacer"],
  #urlbar-results .autocomplete-richlistitem [anonid="type-icon-spacer"] {
    display: none !important;
  }
  #PopupAutoCompleteRichResult,
  #urlbar-results {
     --item-padding-start: 0 !important;
     --item-padding-end: 0 !important;
  }

