/*CELSCHROME
v0.28
- added some onebar (github link) urlbar features.
- changed focused tabs to 20vw.
- changed onelinertabs unfocused width from 92px to 5vw.
- changed default tab unfocused width from 92px to 10vw.
- fixed tab close buton scaling.
- remove tab content padding.
- reset hamburger menu position.
- new border with radius alert / status panel.
- trimmed most of may or may not be deprecated / legacy stuff
- removed new tab close button on compact mode
*/

/*TITLEBAR*/
/* compact min/max/close button */
.titlebar-button {
	padding-left: 0.75vw !important;
	padding-right: 0.75vw !important;
	padding-top: 4px !important; 
}

/*NAVIGATION TOOLBAR*/
/* Move hamburger menu to the left */
#PanelUI-button, #customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important; }
/* Hide flexible spaces */
toolbarspring, [id^="wrapper-customizableui-special-spring"] {
    display: none !important; }
/* Remove Page Actions Menu & Back/Forward Button */
#forward-button, #back-button {display: none !important;}


/*TRANSITION*/
:root {
    --in-transition: font-size .2s, padding .2s, margin .2s, max-width .2s, opacity .2s .15s;
    --out-transition: font-size .2s, padding .2s, margin .2s, max-width .2s, opacity .07s;
}

/* Hide buttons and Page Action Menu */
#nav-bar toolbarbutton {
	margin-left: -32px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: var(--out-transition) !important;
}
/* Show on hover or focus */
#navigator-toolbox:focus-within,
#navigator-toolbox:hover > #nav-bar toolbarbutton {
	margin-left: 0 !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	transition: var(--in-transition) !important;
}
/* url bar border*/
#urlbar-input-container {
  border: 0.125em solid rgba(128,128,128,0.25) !important;
  border-radius: 6px !important;
  background-color: transparent !important;
}

/*PERSONAL TOOLBAR*/
/*Remove Background color*/
#PersonalToolbar {background-color: transparent !important;}
/* For native-pixel resolution only */
#tabbrowser-tabs tab[selected]{	font-weight: bold; }

/*Hide close button on hover*/
.tab-close-button {
  display: none !important;
  /*
  visibility: collapse !important;
	opacity:0 !important;
	margin-left: -16px !important;
	transition: all 0.25s ease 0s !important;
  */
}
/*Show tab close button*/
/*
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
	opacity: 1 !important;
	margin-left: 0px !important;
  transition: all 0.05s ease 0s !important;
}
.tab-close-button {
-moz-box-ordinal-group: 1;
    display: -moz-box !important;
    position: relative;
    margin-right: 0px !important;
    z-index: -1;
    visibility: hidden;
}

/* Narrow the gap between the favicon and the title */
.tab-icon-image:not([pinned]) { margin-inline-end: 1px !important; }
/*Tabs (unselected) for oneliner*/
tab:not([pinned]) { min-width: 5.25vw !important; max-width: }
/* Tabs (selected) for oneliner*/
tab[selected=true]:not([pinned]) { min-width: 10vw !important; }

/* ONE LINER MOD */
/* Move tabs % to right */
#TabsToolbar {
	margin-left: 50vw !important;
	pointer-events: auto !important;
	background: none !important;
	transition: all 250ms !important;
}
/* Move navigation % to left and move to top line */
#nav-bar {
	margin-right: 50vw !important;
	margin-top: -3.5em !important;
	background: none !important;
	pointer-events: auto !important;
	transition: all 250ms ease-out !important;
	z-index: 2;
}

/* COLOR MOD */
/*status panel*/
#statuspanel #statuspanel-label,
statuspanel .statuspanel-label {
  background-color: rgba(0, 0, 0, 0.75)!important;
  color: white !important;
/*border: 1px rgba(0, 0, 0, 0.75) !important;*/
	border-radius: 0px 6px 0px 0px !important;
}

/*ALERT*/
@-moz-document url('chrome://global/content/alerts/alert.xhtml') {
    #alertBox {
        border-color: rgba(107,107,107,.3) !important;
        background: /*rgba(33,33,33,.9)*/ url("chrome://global/skin/media/imagedoc-darknoise.png") !important;
        color: rgba(215,215,215,.9) !important;
        backdrop-filter: blur(32px) !important;
    }
    #alertSettings {
        -moz-context-properties: fill, fill-opacity !important;
        padding: 3px !important;
        margin: 0px 2px -3px 0px !important;
        color: inherit !important;
        border-radius: 2px !important;
        transform: scale(0.91, 0.91) !important;
    }
    #alertSettings:hover,
    #alertSettings[open] {
        background-color: rgba(215, 215, 215, 0.1) !important;
    }
}

/***COMPACT MODE***/
@media only screen and (max-width: 67em){
	#nav-bar, #TabsToolbar {
    margin: initial !important;
  }
	#nav-bar{
    width: initial !important;
    margin: initial !important;
  }
	/*changing tabs size when the browser is smol*/
	tab:not([pinned]) { min-width: 12vw !important; }		
	tab[selected=true]:not([pinned]) {min-width: 20vw !important;}
	/*Show close button on hover*/
  /*
  .tab-close-button {
    visibility: collapse !important;
	  opacity:0 !important;
	  margin-left: -16px !important;
	  transition: all 0.25s ease 0s !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    visibility: visible !important;
    display: block !important;
	  opacity: 1 !important;
	  margin-left: 0px !important;
	  transition: all 0.05s ease 0s !important;
  }
  .tab-close-button {
    -moz-box-ordinal-group: 1;
    display: -moz-box !important;
    position: relative;
    margin-right: 0px !important;
    z-index: -1;
    visibility: hidden;
  }
}