
/*CELSCHROME*/


/*TITLEBAR*/


/* -min max close */
.titlebar-button>.toolbarbutton-icon {
/* change numbers at your needs - size of buttons */
	height: 12px !important;
	width: 12px !important;
}
.titlebar-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 6px !important; 
}


/*NAVIGATION TOOLBAR*/


/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -2px !important;
}

.urlbar-history-dropmarker {
  display: none;
}


/* Hide buttons */
:root:not([customizing]) #nav-bar toolbarbutton,
.urlbar-history-dropmarker {
	margin-left: -30px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: all 100ms ease 0.1740s !important;
}
/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
	margin-left: 0 !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	transition: all 100ms !important;
}

/* Remove Page Actions Menu */
#pageActionButton {
  display: none !important;
}


/*TAB TOOLBAR*/

tab[selected="true"] { min-width: 200px !important; }
/*Show close button on hover*/
.tab-close-button {
  visibility: collapse !important;
	opacity:0 !important;
	margin-left: -12px !important;
	transition: all 0.05s ease 0s !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
	opacity: 1 !important;
	margin-left: 0px !important;
	transition: all 0.05s ease 0s !important;
}

/*PERSONAL TOOLBAR*/


/*Bookmark Toolbar Slide-ins DM Thingy*/
/* Auto-hide bookmarks bar (show only on nav-bar hover) */
  #PersonalToolbar{
	font-size: 14px;
	height: 24px; 
	display: transparent !important;
  visibility: collapse !important;
  opacity:0 !important;
  margin-top: -24px !important;
	pointer-events: auto;
  transition: all 0.4s ease 30s !important;
}
  #navigator-toolbox:hover > #PersonalToolbar{
	display: transparent !important;
  visibility: visible !important;
  opacity: 1 !important;
	margin-top: 0px !important;
	pointer-events: auto;
  transition: all 0.15s ease 1.5s !important;
}








/*Custom Tab Width */
.tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 128px !important;
}
/* Customize rows and columns for number and size of rows/cols you want */
#widget-overflow-fixed-list {
    display: grid;
	/* two rows, the second one taller */
    grid-template-rows: 15px 25px; 
	/* seven columns, with an anchorpoint at the end */
    grid-template-columns: 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px [col-end]; 
}
/* Hides labels */
#widget-overflow-fixed-list .toolbarbutton-1 > .toolbarbutton-text {
    display: none !important;
}
/* Constrains width */
#widget-overflow-mainView {
    max-width: 600px !important;
    min-width: 600px !important;
}
/* Hides "Customize Toolbar..." button */
#overflowMenu-customize-button {
    display: none !important;
}
/* Search bar */
/* Makes search bar take up whole top row */
#widget-overflow-fixed-list #search-container {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span col-end;
}
/* Important to make the search bar display */
#widget-overflow-fixed-list #searchbar {
	 margin-top: -0px;
    min-width: 600px !important;
}
/* Adjusts spacing */
#widget-overflow-fixed-list .toolbarbutton-1 {
    margin-top: 18px !important;
    margin-bottom: -0px !important;
}
#widget-overflow-fixed-list {
    margin-top: -30px !important;
}



/*FUCKING RGB MOD*/ 
/* Adds animated gradient border below tabs and around selected tab */
/* Might or might not work, no promises*/
/* Constant animation WILL increase CPU usage */
.titlebar-button, .tabbrowser-tab, .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]),.scrollbutton-up, .scrollbutton-down,
.scrollbutton-up[disabled], .scrollbutton-up[disabled]:active, .scrollbutton-down[disabled], .scrollbutton-down[disabled]:active, .tabs-newtab-button{
	background: none !important;
}

#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: none !important;
}
#tabbrowser-tabs {
  margin-left: 0px !important;
	margin-right: 0px !important;
	--tab-line-color: none !important;
	background: 
	--tab-loading-fill: var(--uwp-accent-color) !important;
}
.tabbrowser-tab[pinned] {
	margin-bottom: 10px;
}


@keyframes rotate-gradient{
  from{background-position: 0 0;}
  to{background-position: 200vw 0;}
}

#TabsToolbar::before{
  content: "";
  display: -moz-box;
  position: absolute;
  width: 200vw;
  height: calc(var(--tab-min-height) + 0px);
  background-image: linear-gradient(to right, hsl(0,100%,50%) 0%, hsl(60,100%,50%) 16.67%, hsl(120,100%,50%) 33.33%, 
	hsl(180,100%,50%) 50%, hsl(240,100%,50%) 66.67%, hsl(300,100%,50%) 83.33%, hsl(0,100%,50%) 100%);
  animation: rotate-gradient 60s steps(100) infinite;
  pointer-events: none;
  z-index: -1;
}
#tabbrowser-tabs .arrowscrollbox-scrollbox::after{
  content: "";
  display: -moz-box;
  -moz-box-flex: 1 !important;
  background-color: var(--lwt-accent-color);
  margin-bottom: 2px;
}

#TabsToolbar > .titlebar-buttonbox-container,
.titlebar-spacer,
.tabbrowser-tab,
.tabs-newtab-button,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#tabbrowser-tabs ~ toolbarbutton{
  background-color: var(--lwt-accent-color) !important;
  margin-bottom: 2px !important;
  opacity: 1 !important;
}
.tabbrowser-tab{ 
	padding: 2px 2px 0 2px !important; min-height: calc(var(--tab-min-height) - 2px);
}
.tabbrowser-tab[selected]{
  padding: 0px !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
  border-bottom-width: 0px !important;
  margin-bottom: 0px !important;
}
.tab-content[selected]{ margin-top: 0px }


/* Tweaks for Ctrl+Tab */
#ctrlTab-previews {
    border-radius: 0% !important;
}
#ctrlTab-panel {
    -moz-appearance: none !important;
    color: white !important;
    border-style: none !important;
    padding: 20px 10px 10px !important;
    font-weight: bold !important;
    text-shadow: 0 0 2px hsl(0, 0%, 8%), 0 0 2px hsl(0, 0%, 8%) !important;
    background: transparent !important;
}

#PersonalToolbar toolbarbutton:hover {
	border-radius: 4px !important;
}




/* MOD BAR */
/* ONE LINER MOD */
#navigator-toolbox[movingtab] > #nav-bar {
	margin-bottom: 0px !important;
}
/* Move tabs 35% to right */
#TabsToolbar {
	margin-left: 48vw !important;
	pointer-events: auto !important;
	transition: all 250ms !important;
}
/*
#TabsToolbar:hover {
	margin-left: 28vw !important;
	pointer-events: auto !important;
	transition: all 250ms !important;
}
  #nav-bar  {
	margin-right: 40vw !important;
	pointer-events: auto !important;
	transition: all 250ms !important;
}

/* Move navigation 65% to left and negative margin to move to top line */
#nav-bar {
	margin-right: 52vw !important;
	margin-top: -32px !important;
	background: transparent !important;
	pointer-events: auto !important;
	transition: all 250ms !important;
	z-index: 2;
}
/*
#nav-bar:hover {
	margin-right: 20vw !important;
	pointer-events: auto !important;
	transition: all 250ms !important;
  z-index: 2;
}
#TabsToolbar:hover > #nav-bar {
	margin-left: 0vw !important;
	pointer-events: auto !important;
	transition: all 250ms !important;
}




/*CELCHROME ENDS*/
