  /*Bookmark Toolbar Slide-ins DM Thingy*/
/* Auto-hide bookmarks bar (show only on nav-bar hover)  */
  
#nav-bar{
  visibility: collapse !important;
  opacity:0 !important;
  margin-top: -24px !important;
  transition: all 0.15s ease 1.2s !important;
  }
  #navigator-toolbox:hover > #nav-bar{
  visibility: visible !important;
  margin-top: 0px !important;
  transition: all 0.05s ease 0s !important;
  opacity: 1 !important;
  }
  #PersonalToolbar{
  visibility: collapse !important;
  opacity:0 !important;
  margin-top: -24px !important;
  transition: all 0.15s ease 1.2s !important;
  }
  #navigator-toolbox:hover > #PersonalToolbar{
  visibility: visible !important;
  margin-top: 0px !important;
  transition: all 0.15s ease 1s !important;
  opacity: 1 !important;
  }
