
/*CELSCHROME*/


/*TITLEBAR*/


/* -min max close */
.titlebar-button>.toolbarbutton-icon {
	height: 12px !important;
	width: 12px !important;
}
.titlebar-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 6px !important; 
}



/*NAVIGATION TOOLBAR*/


/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -1px !important;
}

.urlbar-history-dropmarker {
  display: none;
}


/* Hide buttons */
:root:not([customizing]) #nav-bar toolbarbutton,
.urlbar-history-dropmarker {
	margin-left: -30px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: all .25s ease 0.1740s !important;
}
/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
	margin-left: 0 !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	transition: all 75ms !important;
}

/* Remove Page Actions Menu */
#pageActionButton {
  display: none !important;
}





/*TAB TOOLBAR*/
tab:not([pinned]) { min-width: 60px !important; }
tab[selected=true]:not([pinned]) { 
  min-width: 172px !important; 
  max-width: 1080px !important;
}
#identity-icon-labels { display: none;}
#tabbrowser-tabs tab[selected]{
  font-size: 14px;
}
#tabbrowser-tabs tab{
	font-size: 10px;
}

/*Show close button on hover*/
.tab-close-button {
  visibility: collapse !important;
	opacity:0 !important;
	margin-left: -20px !important;
	transition: all 1s ease 0s !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
	opacity: 1 !important;
	margin-left: 0px !important;
	transition: all 0.025s ease 0s !important;
}
.tab-close-button {
-moz-box-ordinal-group: 1;
  display: -moz-box !important;
  position: relative;
  margin-right: 0px !important;
  z-index: -1;
  visibility: hidden;
}

/* Reduce the margins within tabs */
.tab-content:not([pinned]) {
  padding: 4 2px !important;
}
.tab-content {
  margin-top: 1px;
  padding: 0px 2px 0px !important;
}
/* Narrow the gap between the favicon and the title */
.tab-icon-image:not([pinned]) {
    margin-inline-end: 2px !important;
}




/*PERSONAL TOOLBAR*/

/*Bookmark Toolbar Slide-ins DM Thingy*/
/* Auto-hide bookmarks bar (show only on nav-bar hover) *

  #PersonalToolbar{
	font-size: 12px;
	height: 20px; 
	display: transparent !important;
  visibility: collapse !important;
  opacity: 0 !important;
  margin-top: -20px !important;
	pointer-events: none ;
  transition: all 0s .5s !important;
}
  #navigator-toolbox:hover > #PersonalToolbar{
	display: transparent !important;
  visibility: visible !important;
  opacity: 1 !important;
	margin-top: 0px !important;
	pointer-events: auto;
  transition: all 0s 1s !important;
}


/* Hides "Customize Toolbar..." button */
#overflowMenu-customize-button {
    display: none !important;
}


/* Tweaks for Ctrl+Tab */
#ctrlTab-previews {
    border-radius: 0% !important;
}
#ctrlTab-panel {
    -moz-appearance: none !important;
    color: white !important;
    border-style: none !important;
    padding: 20px 10px 10px !important;
    font-weight: bold !important;
    text-shadow: 0 0 2px hsl(0, 0%, 8%), 0 0 2px hsl(0, 0%, 8%) !important;
    background: transparent !important;
}



/* MOD BAR */

/*FUCKING UNSTABLE RGB MOD*/ 
/*  Adds animated gradient border below tabs and around selected tab*/
   /* Might or might not work, no promises*/
/* Constant animation WILL increase CPU usage */

.titlebar-button, .tabbrowser-tab, .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]),
.scrollbutton-up, .scrollbutton-down, .scrollbutton-up[disabled], .scrollbutton-up[disabled]:active, 
.scrollbutton-down[disabled], .scrollbutton-down[disabled]:active, .tabs-newtab-button, .tab-background {
	background: none !important;
}

#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: none !important;
}
#tabbrowser-tabs tab[pinned]{
  --tab-line-color: none !important;
	background: none;
}
.tabbrowser-tab[pinned] {
	padding-top: 0px;
}
#tabbrowser-tabs {
  margin-left: 0px !important;
	margin-right: 0px !important;
	--tab-line-color: none !important;
	background: 
	--tab-loading-fill: var(--uwp-accent-color) !important;
}

@keyframes rotate-gradient{
  from{background-position: 400vw 0;}
  to{background-position: 0 0;}
}
#nav-bar::before {
  content: "";
  display: -moz-box;
  position: absolute;
  width: 400vw;
  margin-left: -340vw;
  height: calc(var(--tab-min-height));
  background-image: linear-gradient(to right, hsl(0,100%,15%) 0%, hsl(60,100%,15%) 16.67%, hsl(120,100%,15%) 33.33%, 
	hsl(180,100%,15%) 50%, hsl(240,100%,15%) 66.67%, hsl(300,100%,15%) 83.33%, hsl(0,100%,15%) 100%);
  animation: rotate-gradient 30s steps(200) infinite;
  pointer-events: none;
  z-index: -2;
}
#TabsToolbar::before {
  content: "";
  display: -moz-box;
  position: absolute;
  width: 400vw;
  margin-right; -360vw;
  height: calc(var(--tab-min-height) + 2px);
  background-image: linear-gradient(to right, hsl(0,100%,15%) 0%, hsl(60,100%,15%) 16.67%, hsl(120,100%,15%) 33.33%, 
	hsl(180,100%,15%) 50%, hsl(240,100%,15%) 66.67%, hsl(300,100%,15%) 83.33%, hsl(0,100%,15%) 100%);
  animation: rotate-gradient 30s steps(200) infinite;
  pointer-events: none;
  z-index: -1;
}
@keyframes bruh-gradient{
  from{background-position: 0 0;}
  to{background-position: 440vw 0;}
}
#PersonalToolbar::before {
  content: "";
  display: -moz-box;
  position: absolute;
  width: 440vw;
  height: calc(var(--tab-min-height) - 13px);
  background-image: linear-gradient(to right, hsl(0,100%,25%) 0%, hsl(60,100%,25%) 16.67%, hsl(120,100%,25%) 33.33%, 
	hsl(180,100%,25%) 50%, hsl(240,100%,25%) 66.67%, hsl(300,100%,25%) 83.33%, hsl(0,100%,25%) 100%);
  animation: bruh-gradient 30s steps(200) infinite;
  pointer-events: none;
}


#TabsToolbar > .titlebar-buttonbox-container,
.titlebar-spacer,
.tabbrowser-tab,
.tabs-newtab-button,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#tabbrowser-tabs ~ toolbarbutton,
#tabbrowser-tabs .tab-background{
  background-color: none !important;
  margin-bottom: 2px !important;
  opacity: 1 !important;
}

.tabbrowser-tab[selected]{
  padding: 2px 2px 0px 2px !important;
  background-color: rgba(0,0,0,0.5) !important;
  border: 0px solid transparent !important;
  border-bottom-width: 0px !important;
  margin-bottom: 0px !important;
}

.tabbrowser-tab[selected][pinned]{
  padding: 0px 0px 0px 2px !important;
}

.tab-content[selected]{
  
  margin-top: 0px 
}




/* ONE LINER MOD */
#navigator-toolbox[movingtab] > #nav-bar {
	margin-bottom: 0px !important;
}
/* Move tabs 35% to right */
#TabsToolbar {
	margin-left: 60vw !important;
	pointer-events auto !important;
	transition: all 50ms !important;
}


/* Move navigation 65% to left and negative margin to move to top line */
#nav-bar {
	margin-right: 40vw !important;
	margin-top: -32px !important;
	background: rgba(0,0,0,0.5) !important;
  background-blend-mode: hard-light;
	pointer-events: auto !important;
	transition: all 150ms ease-out !important;
	z-index: 2;
}

#nav-bar:hover {/*
	margin-right: 11vw !important;
  background: rgba(0,0,0,1) !important;
  background-blend-mode: hard-light;
	pointer-events: auto !important;
	transition: all 75ms ease !important;
  z-index: 2;*/
}



#urlbar {
    border: 0px solid transparent !important;
    border-radius: 0 !important;
    margin: 0 -8px 0 -4px !important;
    min-height: 26px !important;
    background: none !important;
}

#navigator-toolbox[movingtab] > #TabsToolbar {
	padding-bottom: 116px !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
	margin-top: -32px !important;
}


/*CELCHROME ENDS*/
