/* TITLEBAR */
.titlebar-button {
	width: 20px !important;
	height: 32px !important;
	stroke: var(--uwp-titlebar) !important;
}
.titlebar-button > .toolbarbutton-text {
	display: none !important;
}
#minimize-button, #restore-button, #close-button {
	width: 24px !important;
	height: 32px !important;
}
#restore-button {
	list-style-image: url(../img/titlebox-full-restore.png) !important;
}
#titlebar-buttonbox, #TabsToolbar, #toolbar-menubar, #main-menubar {
	height: 32px !important;
}
#toolbar-menubar > #menubar-items > #main-menubar > menu {
	padding: 0px !important;
}
#main-window[sizemode="fullscreen"] #minimize-button {
	padding-top: 8px !important;
}
.titlebar-min {
	padding-bottom: 0px !important;
}
.titlebar-min:hover, .titlebar-max:hover, #minimize-button:hover, #restore-button:hover {
	background-color: var(--titlebar-min-max-hover-bg-color) !important;
}
.titlebar-min:hover:active, .titlebar-max:hover:active, #minimize-button:hover:active, #restore-button:hover:active {
	background-color: var(--titlebar-min-max-active-bg-color) !important;
}
.titlebar-close:hover, #close-button:hover {
	background-color: var(--titlebar-close-hover-bg-color)	!important;
}
.titlebar-close:hover:active, #close-button:hover:active {
	background-color: var(--titlebar-close-active-bg-color) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	visibility: collapse;
	display: none !important;
}
.titlebar-spacer[type="post-tabs"] {
	visibility: collapse;
	display: none !important;
}
.titlebar-buttonbox-container, #window-controls {
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}

#toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) {
	min-height: 0 !important;
	height: 0 !important;
}


/* WINDOW */
/* Temporal fix for top border */
#main-window[chromemargin] {
	background-color: var(--uwp-mainwindow) !important;
	-moz-appearance: -moz-win-glass !important;
}
#main-window[sizemode="normal"][tabsintitlebar="true"] {
	margin-top: 1px !important;
}



/* TAB TOOLBAR */
.toolbar-items > spacer:first-of-type {
	display: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: gray !important;
}
#tabbrowser-tabs {
	height: 32px;
  margin-left: 0px !important;
	margin-right: 0px !important;
	--tab-line-color: white !important;
	background: 
	--tab-loading-fill: var(--uwp-accent-color) !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	margin-left: 0px !important;
	margin-right: 0px !important;
	border-top: none !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
	background: var(--uwp-tabbar-tab-hover) !important;
}
.tab-throbber[progress]:not([selected="true"])::before {
    fill: #555555 !important;
}

.tabbrowser-tab::before, .tabbrowser-tab::after {
	display: none !important;
}
.tabs-newtab-button, #new-tab-button, #alltabs-button {
	background: transparent !important;
	margin-bottom: 0px !important;
}
.tabs-newtab-button:hover, #new-tab-button:hover, #alltabs-button:hover, .scrollbutton-up:hover, .scrollbutton-down:hover {
	background: var(--uwp-tabbar-button-hover) !important
}
.tabs-newtab-button:hover:active, #new-tab-button:hover:active, #alltabs-button:hover:active, .scrollbutton-up:hover:active,
.scrollbutton-down:hover:active, #alltabs-button[open] {
	background: var(--uwp-tabbar-button-hover-active) !important
}


.scrollbutton-up, .scrollbutton-down {
	display: all;
	margin-bottom: 0px !important;
}
.scrollbutton-up[disabled], .scrollbutton-up[disabled]:active, .scrollbutton-down[disabled], .scrollbutton-down[disabled]:active {
	background: transparent !important;
}


.tabs-newtab-button .toolbarbutton-icon {
	background: transparent !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent !important;
}


#alltabs-button {
	margin-top: 0px !important;
	display: all;
}
#alltabs-button > .toolbarbutton-badge-stack {
	margin-top: 1px !important;
	background: none !important;
}
.all-tabs-item[selected] {

    box-shadow: inset 4px 0 var(--uwp-accent-color) !important;
}


#tabbrowser-tabs tab[selected]{
	font-size: 16px;
}
#tabbrowser-tabs tab{
	font-size: 11px;
}




/* NAVIGATION BAR */
#nav-bar {
    padding-bottom: 0px;
	box-shadow: none !important;
}
#nav-bar textbox {
	background-color: transparent !important;
}
#nav-bar textbox:hover {
	background-color: transparent !important;
}
#urlbar, .searchbar-textbox {
	padding-right: 0px !important;
	padding-left: 0px !important;
	border: none !important;
}
#urlbar {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
toolbarbutton.bookmark-item {
    padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px;
	border: 0px !important;
}
toolbarbutton.bookmark-item > .toolbarbutton-text[value=""] {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
#content-deck {
	-moz-appearance: -moz-win-exclude-glass !important;
}
#navigator-toolbox, #navigator-toolbox::after {
	border-bottom: 0px !important;
}
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background: var(--uwp-browser) !important;
}
#urlbar, .searchbar-textbox {
	margin-left: 0px;
	box-shadow: none !important;
}
.searchbar-textbox{
	padding-right: 0px !important;
	padding-left: 0px !important;
  margin-left: 0px !important;
	margin-right: 0px !important;
}
.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}



#PersonalToolbar toolbaritem {
	margin-top: -2px;
	margin-bottom: -2px;
	height: 18px;
	font-size: 14px;
}




/* PANELS */
.panel-arrowbox {
	display: none !important;
}
.panel-arrowcontent {
	border: none !important;
	box-shadow: none !important;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .50) !important;
}
panel .text-link {
	color: var(--uwp-accent-color) !important;
}



/* VARIOUS PANEL */
/*Offsets the position */
#appMenu-popup{
	margin-top: -2px !important;
	margin-right: -303px !important;
}

#appMenu-popup label{
	margin-right: 10px !important;
}
#identity-popup {
	margin-top: 4px !important;
	margin-left: -19px !important;
}
#pageActionPanel {
	margin-top: 0px !important;
}
#editBookmarkPanel .panel-arrowcontent {
	margin-top: 8px !important;
}
#editBookmarkPanelFavicon {
	display: visible !important;
}
#editBMPanel_folderRow .menulist-label-box {
	fill: white !important;
}
#editBMPanel_folderRow .menulist-label {
	color: white !important;
	padding-left: 0px !important;
}
#editBookmarkPanelImage {
	border-bottom: none !important;
}
#editBookmarkPanel .panel-header {
	border-bottom: none !important;
}
#notification-popup {
	margin-top: 8px !important;
}
#widget-overflow {
	margin-top: -2px !important;
}
#appMenu-notification-popup {
	margin-top: -2px !important;
}




/* URL Panel Post-68 */
#urlbarView-results {
	padding: 0px !important;
}
#urlbar-results {
	border: none !important;
}
.urlbarView-row {
	border-radius: 8px !important;
}

#appMenu-addon-installed-notification{

}

/* Tracking toggle */
#appMenu-tp-toggle {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
#appMenu-tp-toggle[enabled="true"] {
	background-color: var(--uwp-accent-color) !important;
	border: 1px solid var(--uwp-accent-color) !important;
}
#appMenu-tp-toggle > .toolbarbutton-text {
	padding: 0px !important;
}
#customizationui-widget-panel {
	margin-top: -2px !important;
}
/* Customization Page Overflow */
#customization-panel-container {
	padding-right: 0px !important;
}
/* Sync Icon */
#appMenu-fxa-icon[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon {
	fill: gray !important;
}


/* Sidebar */
#sidebar-header {
	background: var(--uwp-sidebar) !important;
	color: var(--uwp-global-front) !important;
	border-bottom: none !important;
}
#sidebar-switcher-target > #sidebar-icon {
	fill: var(--uwp-global-front) !important;
}
#sidebar-search-container {
	background: var(--uwp-sidebar-search) !important;
}
#sidebar-splitter {
	border: none !important;
}
#sidebar-box {
	background-color: var(--uwp-sidebar-box) !important;
}
body[lwt-sidebar] {
	background-color: var(--uwp-global-back) !important;
}
/* Status Panel */
#statuspanel {
	animation: none;
}
#statuspanel-label {
	background-color: var(--uwp-statuspanel) !important;
	color: var(--uwp-statuspanel-color) !important;
	border: none !important;
	padding: 4px !important;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .5) !important;
}
/* Notifications? */
notification {
	background-color: var(--uwp-bottom-background) !important;
	border: none !important;
	color: var(--uwp-global-front) !important;
}
/* FXA Panel */
.PanelUI-fxa-signin-button {
	padding: 3px !important;
	background-color: var(--uwp-tags-button) !important;
	border: 2px var(--uwp-tags-button) solid !important;
	border-radius: 0px !important;
	color: var(--uwp-tags-button-color) !important;
}
.PanelUI-fxa-signin-button:hover {
	border-color: var(--uwp-tags-button-hover) !important;
}
.PanelUI-fxa-signin-button:hover:active {
	background-color: var(--uwp-tags-button-hover-active) !important;
	border-color: var(--uwp-tags-button-hover-active) !important;
}
#PanelUI-fxa-menu-syncnow-button[syncstatus="active"] > .toolbarbutton-icon {
	fill: var(--uwp-accent-color) !important;
}
:root {
	--toolbarbutton-border-radius: 0px !important;
}
/* Temporal fix for top border */
:root[sizemode="normal"][tabsintitlebar]:-moz-window-inactive {
    border-top-color: #2B2B2B !important;
}
