/*AGENT_SHEET*/

/* Pop-ups, Context Menus, Dropdowns, etc *
@import url(./css/context.css);

/* Base Tags Theme *
@import url(./css/tags.css);

/* Pages *
@import url(./css/pagesContent.css);
/*IMPORTING CELSPAGECONTENT*
@import url(./cel/celspagescontent.css);

/* External *
@import url(./css/external.css);

/* Colors */
/* Dark *
@import url(./css/colors/tags-dark.css);
@import url(./css/colors/context-dark.css);
@import url(./css/colors/base-dark.css);
@import url(./css/colors/pagesContent-dark.css);
/*IMPORTING CELSDARK*
@import url(./cel/colors/celtags-dark.css);
@import url(./cel/colors/celcontext-dark.css);
@import url(./cel/colors/celbase-dark.css);
@import url(./cel/colors/celpagesContent-dark.css);





/*
@supports -moz-bool-pref("browser.in-content.dark-mode") {
@media (prefers-color-scheme: dark) {
*/

/* Light *//*
@import url(./css/colors/tags-light.css);
@import url(./css/colors/context-light.css);
@import url(./css/colors/base-light.css);
@import url(./css/colors/pagesContent-light.css);*/
/* Removes white loading background*/
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: #000000 !important;
    }
  }
  
/* To prevent the root style to go into any page */
@-moz-document url-prefix("chrome://"), url-prefix("about:") {

	:root {
		--uwp-accent-color: -moz-win-accentcolor; /* Global Accent Color */
	}

}
